* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffde28;
  --orange-back: #ff5e5e;
  --blue-back: #42c1d6;
  --green-back: #05fe76;
  --grid-color: rgba(0, 0, 0, 0.05);
  --bg-main: #f0f0f0;
}

body {
  background-color: var(--bg-main);
  background-image: 
    linear-gradient(var(--grid-color) 1.5px, transparent 1.5px),
    linear-gradient(90deg, var(--grid-color) 1.5px, transparent 1.5px);
  background-size: 40px 40px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.get-project {
  background-color: var(--background-color);
  margin-bottom: 30px;
  padding: 30px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  border: 4px solid black;
}

.get-project:hover {
  transform: translate(-2px, -2px);
  box-shadow: 15px 15px 0px black;
}

.get-project h4 {
  display: inline-block;
  background-color: var(--orange-back);
  padding: 10px;
  border: 4px solid black;
  box-shadow: 6px 6px 0px black;
}

.get-project p {
  display: block;
  background-color: var(--blue-back);
  padding: 10px;
  margin: 20px 0;
  border: 4px solid black;
  box-shadow: 6px 6px 0px black;
}

.get-project a {
  background-color: var(--green-back);
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border: 4px solid black;
  box-shadow: 6px 6px 0px black;
  color: black;
  font-weight: bold;
  transition: all 0.3s linear;
}

.get-project a:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}